body{
	background-image:url(../img/fondo.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	height:100vh;
	position:relative;
	font-size:50%;
}
.logo{
	height: 29vh;
}
.pink{
	height:  10vh;
}
.caja{
	position: absolute;
	bottom:6vh;
	width: 100%;
}
#loginIn{
	color: white;
	background-color: rgba(18, 10, 4, 0.1);
	background: rgba(18, 10, 4, 0.1);
	border: 4px solid;
    font-size: 3vh;
    border-radius: 15px;
    padding: 3vh 7vh;
    text-decoration: none;
    cursor: pointer;
}
#signUp{
	background-image: linear-gradient(-90deg, #20699D, #E6006F);
	border: 3px solid #B005A3 ;
    color:white;
    border: 4px solid #3F0F4A;
    font-size: 3vh;
    border-radius: 15px;
    padding: 3vh 7vh;
    text-decoration: none;
    cursor: pointer;
}
